/* ! deafult style here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}
.mt {
  margin-top: 100px;
}
.mb {
  margin-bottom: 100px;
}
/* ! header style start */
.text-logo {
  font-weight: 700;
  color: #3f87f5;
}
.menu-item {
  color: #3e3e3e;
  transition: all 1s;
}
.menu-item:hover,
.menu-item:active {
  color: #3f87f5;
}
/* ! header style end */
/* ! home style start */

/* ! home style end */
/* ! event style start */

/* ! event style end */
/* ! our package style start */
.special-card {
  position: relative;
  transform: translateY(-30px);
  transition: 0.5s;
}
.special-card::before {
  content: "Hot";
  position: absolute;
  top: -15px;
  right: 20px;
  background-color: #ff4e4e;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: 600;
}
.special-card-hover:hover {
  transform: translateY(-0px);
}
.card-hover {
  transform: translateY(-0px);
  transition: 1s;
}
.card-hover:hover {
  transform: translateY(-30px);
}
.check-list {
  color: #5243c2;
}
.plan-btn {
  background-color: #fef5fa;
}
/* ! our package style end */
/* ! testimonial style start */
.testimonial-card {
  position: relative;
}
.testimonial-card::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 70%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  clip-path: polygon(0 1%, 50% 100%, 100% 0);
}
/* ! testimonial style end */
