/* ! deafult style here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.mt {
  margin-top: 100px;
}
.mb {
  margin-bottom: 100px;
}
/* ! header style start */
.text-logo {
  font-weight: 700;
  color: #3f87f5;
}
.menu-item {
  color: #3e3e3e;
  transition: all 1s;
}
.menu-item:hover,
.menu-item:active {
  color: #3f87f5;
}
/* ! header style end */
/* ! home style start */

/* ! home style end */
/* ! event style start */
.event-section {
  position: relative;
}
.event-section::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
}
/* ! event style end */
